
h1 {
  border-bottom: 5px solid Black;
  
  
 color: Red;
   font-size: 42px;
  text-align: center;
}



#li1 { 
  font-size: 25px;
   font-family: Vendura;
}

#date-location { text-align:center; border: 1px solid #006699; padding: 4px; z-index: 2; }

.date-font { color: #006699; font: 20px arial, sans-serif; font-weight: bold; }

.About {
  text-align:center; font: 20px arial, sans-serif;
}

.Background {
  background-image: url("https://russianhacker44.github.io/Background for website.jpeg");
}
