
h1 {
  border-bottom: 5px solid Black;
  
  
 color: Red;
   font-size: 42px;
  text-align: center;
  

}
#li1 { 
  font-size: 25px;
   font-family: Vendura;
}



.date-font { text-align:center; color: #006699; font: 20px arial, sans-serif; font-weight: bold; }

