
h1 {
  border-bottom: 5px solid Black;
  
  
 color: Red;
   font-size: 42px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-image: url("https://russianhacker44.github.io/https/russianhacker44.github.io/Background1.png");
  width: 450px;  height: 400px; 
}



.flex-container > div {
    text-align:center; font: 20px arial, sans-serif; color: white;
  width: 200px; border: 10px white; height: 150px; url("https://russianhacker44.github.io/https/russianhacker44.github.io/Background1.png");
  margin:0 auto; float: left; margin: 10px; 
}

.flex-text {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%); 
  font-size: 20px; font-family: Vendura;
  text-decoration: none; color:white; background-color:black; padding:20px;
}

#li1 { 
  font-size: 25px;
   font-family: Vendura;
}

#date-location { text-align:center; border: 1px solid #006699; padding: 4px; z-index: 2; }

.date-font { color: #006699; font: 20px arial, sans-serif; font-weight: bold; }

#About {
  text-align:center; font: 20px arial, sans-serif; color: white;
  width: 100px; border: 10px white; height: 100px; background-color: gray;
  margin:0 auto; float: left;
}

.Background {
  background-image: url("https://russianhacker44.github.io/https/russianhacker44.github.io/Background1.png");

}

body {
  background-image: url("https://russianhacker44.github.io/https/russianhacker44.github.io/Background1.png");

}

p {
  background-image: url("https://russianhacker44.github.io/https/russianhacker44.github.io/Background1.png");

}
