h1 {
color: Purple;
text-align: center;
  font-size: 40px;
}
p { 
  font-size: 25px;
  color: Red;
    text-align: center;
 }
#date-location { display: inline-block; position: absolute; left: 15px; top: 125px; text-align: left; background-color: #FFFFFF; border: 1px solid #006699; padding: 4px; z-index: 2; }

.date-font { color: #006699; font: 20px arial, sans-serif; font-weight: bold; }

