
h1 {
color: Purple;
text-align: center;
  font-size: 40px;
  border-bottom: 5px solid Black;
}
p { 
  font-size: 25px;
  color: Red;
    text-align: center;
 }
#date-location { text-align:center; border: 1px solid #006699; padding: 4px; z-index: 2; }

.date-font { color: #006699; font: 20px arial, sans-serif; font-weight: bold; }
#i { 
  text-align:center;
}


