h1 {
color: Purple;
text-align: center;
  font-size: 40px;
}
p { 
  font-size: 25px;
  color: Red;
    text-align: center;
 }
date { text-align:center; border: 1px solid #006699; padding: 4px; z-index: 2; }

date { color: #006699; font-size: 20px; font-weight: bold; }

