h1 {
  border-bottom: 5px solid Black;
  
  
 color: Red;
   font-size: 42px;
  text-align: center;
}
h2 { 
  color:Blue;
  font-size: 30px;
  text-align: center;
}
h3 { 
  color:Green;
  font-size: 30px;
  text-align: center;
}
h4 { 
  color:Purple;
  font-size: 30px;
  text-align: center;
}
#b1 {
  margin-left: 46%;
  
}
#b2 {
   margin-left: 46%;
}
